L01/l01/flows.json
[
    {
        "id": "777ed8aa9b131103",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "494ccdaee46e07cf",
        "type": "mqtt in",
        "z": "777ed8aa9b131103",
        "name": "Humidity",
        "topic": "4ID3_G7/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0334a275b717d544",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "ba9c69d65f44bcc7",
                "28d0e57c9ec46014"
            ]
        ]
    },
    {
        "id": "ba9c69d65f44bcc7",
        "type": "debug",
        "z": "777ed8aa9b131103",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "28d0e57c9ec46014",
        "type": "ui_chart",
        "z": "777ed8aa9b131103",
        "name": "Humidity",
        "group": "0e7a948db8a391ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5ee143fb1d10f9c1",
        "type": "mqtt in",
        "z": "777ed8aa9b131103",
        "name": "Temp",
        "topic": "4ID3_G7/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0334a275b717d544",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "ee6e9abf4da13d28",
                "9d6f8d489e36aacf"
            ]
        ]
    },
    {
        "id": "97ef3df9be713a6b",
        "type": "mqtt in",
        "z": "777ed8aa9b131103",
        "name": "pressure",
        "topic": "4ID3_G7/pressure",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0334a275b717d544",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 420,
        "wires": [
            [
                "a960babee8a0922f",
                "6b5349ba56829bd7"
            ]
        ]
    },
    {
        "id": "66754a9f4c884a1c",
        "type": "mqtt in",
        "z": "777ed8aa9b131103",
        "name": "light",
        "topic": "4ID3_G7/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0334a275b717d544",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 500,
        "wires": [
            [
                "cc5fe6303ba9d6b6",
                "a00606c407b6069c"
            ]
        ]
    },
    {
        "id": "ee6e9abf4da13d28",
        "type": "debug",
        "z": "777ed8aa9b131103",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "a960babee8a0922f",
        "type": "debug",
        "z": "777ed8aa9b131103",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "cc5fe6303ba9d6b6",
        "type": "debug",
        "z": "777ed8aa9b131103",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "9d6f8d489e36aacf",
        "type": "ui_chart",
        "z": "777ed8aa9b131103",
        "name": "Temp",
        "group": "0e7a948db8a391ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6b5349ba56829bd7",
        "type": "ui_chart",
        "z": "777ed8aa9b131103",
        "name": "Pressure",
        "group": "0e7a948db8a391ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a00606c407b6069c",
        "type": "ui_chart",
        "z": "777ed8aa9b131103",
        "name": "Light",
        "group": "0e7a948db8a391ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0334a275b717d544",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0e7a948db8a391ba",
        "type": "ui_group",
        "name": "Default",
        "tab": "63de271f4a2ba832",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63de271f4a2ba832",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]